---
layout: default
title: eamelink's blog
---

{% comment %}




For now, we'll use the 'post' page and show the latest post on the index.html page.




{% endcomment %}

{% assign post = site.posts.first %}

<div id="post">
<h1 class="postTitle"><a href="{{ post.url }}">{{ post.title }}</a></h1>
<div class="postMeta">
  <span class="postDate">{{ post.date  | date_to_long_string }}</span> - 
  <span class="postAuthor">by Erik Bakker</span> 
</div>
{{ post.content }}
</div>

<div id="postNavigation"> 
  {% if post.previous.url %} 
    <span class="previous">
      Previous post: <a href="{{ post.previous.url }}">{{ post.previous.title }}</a>
    </span> 
  {% endif %} 
  
  {% if post.next.url %} 
    <span class="next">
      Next post: <a href="{{ post.next.url }}">{{ post.next.title }}</a>
    </span> 
  {% endif %} 
</div> 
