---
layout: default
canonical_url: "baak"
---

<div id="post">
<h1 class="postTitle"><a href="{{ page.url }}">{{ page.title }}</a></h1>
<div class="postMeta">
  <span class="postDate">{{ page.date  | date_to_long_string }}</span> - 
  <span class="postAuthor">by Erik Bakker</span> 
</div>
{{ content }}
</div>

<div id="postNavigation"> 
  {% if page.previous.url %} 
    <span class="previous">
      Previous post: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
    </span> 
  {% endif %} 
  
  {% if page.next.url %} 
    <span class="next">
      Next post: <a href="{{ page.next.url }}">{{ page.next.title }}</a>
    </span> 
  {% endif %} 
</div> 
