body {
  background-color: white;
  font-size:100%;
  font-family: Palatino, georgia, "times new roman", serif
}

/* Structure */

/* Full size, maximum 990 px */
.container {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #333333;
}

.main {
  width: 720px;
  padding: 0;
  float: left;
  font-size: 
}

.side {
  width: 240px;
  padding: 0;
  float: right;
  font-size: 0.8em;
}

/* Between 990px and 720px, resize with sidebar at a quart of the size */
@media all and (max-width: 990px) and (min-width: 720px) {
  .container {
    width: 100%;
  }
  
  .main {
    width: 74%;
  }
  
  .side {
    width: 24%;
    float: left;
  }
}

/* Smaller than 720 px, move sidebar below main content, and use full width */
@media all and (max-width: 719px) {
  .container {
    width: 100%;
  }
  
  .main {
    width: 100%;
  }
  .side {
    width: 100%;
    border-top: 2px solid black;
    float: left;
  }
}

/** /structure **/

.side a {
  color: #333;
}

.side h4 {
  margin-bottom: 5px;
}

.side ul {
  list-style: square;
  margin: 5px 0;
  padding-left: 15px;
}

.header {
  text-align: center;
  height: 80px;
  border-bottom: 2px solid #555;
}

.header #siteTitle {
  font-size: 3em; 
}

.header #siteTitle a {
  text-decoration: none;
  color: #333;
}

.header #siteSubTitle {
  font-size: 1em;
  color: #888;
}

h1.postTitle {
  margin-bottom: 5px;
}

h1.postTitle a {
  color: #333;
  text-decoration: none;
}

.postMeta {
  font-size: 0.8em;
  color: #666;
  margin-bottom: 25px;
}

#portrait {
  float: left;
  margin-right: 5px;
}