body {
  background-color: white;
  font-size:100%;
  font-family: Palatino, georgia, "times new roman", serif
}

/* Full size, maximum 990 px. Media query overrides at the bottom. */
.container {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #333333;
}

.main {
  width: 720px;
  padding: 0;
  float: left;
  font-size: 
}

.side {
  width: 240px;
  padding: 0;
  float: right;
  font-size: 0.8em;
}

.side a {
  color: #333;
}

.side h4 {
  margin-bottom: 5px;
}

.side ul {
  list-style: square;
  margin: 5px 0;
  padding-left: 15px;
}

.header {
  text-align: center;
  height: 80px;
  border-bottom: 2px solid #555;
}

.header #siteTitle {
  font-size: 3em; 
}

.header #siteTitle a {
  text-decoration: none;
  color: #333;
}

.header #siteSubTitle {
  font-size: 1em;
  color: #888;
}

h1.postTitle {
  margin-bottom: 5px;
}

h1.postTitle a {
  color: #333;
  text-decoration: none;
}

.postMeta {
  font-size: 0.8em;
  color: #666;
  margin-bottom: 25px;
}

.main {
  line-height: 1.3;
}

.main p a {
  color: #004f88;
  text-decoration: none;
}

.main p a:visited {
  color: #460588;
}

.main div.highlight {
  padding-left: 15px;
}

.main img.left {
  float: left;
  margin-right: 10px;
}

.main img.right {
  float: right;
  margin-left: 10px;
}

.main blockquote {
  margin: 0 0 0 10px;
  padding-left: 10px;
  border-left: 2px solid #555;
}

#post {
  border-bottom: 2px solid #555;
}

#postNavigation {
  margin: 10px 0;
  color: #666;
  font-size: 0.8em;
  overflow: auto;
  width: 100%;
}

#postNavigation a {
  color: #333;
}
#postNavigation .previous {
  float: left;
}

#postNavigation .next {
  float: right;
}

.aboutme, .aboutbook {
  width: 100%;
  overflow: auto;
}

#portrait, #bookthumb {
  float: left;
  margin-right: 5px;
}

#aboutme {
  min-height: 80px; /* At leat size of the image */
}

/* Maybe we should do this only for small screens? */
.main pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Between 990px and 720px, resize with sidebar at a quart of the size */
@media all and (max-width: 990px) and (min-width: 720px) {
  .container {
    width: 100%;
  }
  
  .main {
    width: 74%;
  }
  
  .side {
    width: 24%;
    float: right;
  }
}

/* Smaller than 720 px, move sidebar below main content, and use full width, but make headings smaller */
@media all and (max-width: 719px) {
  .container {
    width: 100%;
  }
  
  .main {
    width: 100%;
  }
  
  .main img.left, .main img.right {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .side {
    width: 100%;
    border-top: 2px solid black;
    float: left;
  }
  
  .header #siteTitle {
    font-size: 2.5em; 
  }
  
  h1 {
    font-size: 1.5em;
  }
}